# This workflow will build a .NET project with .NET 9
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: Build

on:
  push:
    branches: "master"

jobs:
  build:
    runs-on: windows-latest
    strategy:
      matrix:
        runtime: [android-arm, android-arm64, android-x86, android-x64]
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x
      
      - name: Install .NET MAUI
        run: dotnet workload install maui
      
      - name: Restore dependencies
        run: dotnet restore
      
      - name: Restore KeyStore
        env:
          KEYSTORE: ${{ secrets.AndroidSigningKeyStore }}
        shell: bash
        run: |
          echo $KEYSTORE | base64 -d > OpenTalkie.keystore
      
      - name: Build with KeyStore for ${{ matrix.runtime }}
        env:
          KEYSTORE_ALIAS: ${{ secrets.AndroidSigningKeyAlias }}
          KEYSTORE_PASS: ${{ secrets.AndroidSigningKeyPassword }}
        run: |
          dotnet publish OpenTalkie/OpenTalkie.csproj -c Release -f net9.0-android -r ${{ matrix.runtime }} --no-restore -p:AndroidPackageFormats=apk `
          -p:AndroidKeyStore=true `
          -p:AndroidSigningKeyAlias=${{ env.KEYSTORE_ALIAS }} `
          -p:AndroidSigningKeyPass=env:KEYSTORE_PASS `
          -p:AndroidSigningKeyStore=${{ github.workspace }}/OpenTalkie.keystore `
          -p:AndroidSigningStorePass=env:KEYSTORE_PASS
      
      - name: Upload APK Artifact for ${{ matrix.runtime }}
        uses: actions/upload-artifact@v4
        with:
          name: OpenTalkie-${{ matrix.runtime }}
          path: OpenTalkie/bin/Release/net9.0-android/${{ matrix.runtime }}/publish/io.github.defectly.opentalkie-Signed.apk
